@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './tokens.css';

html, body {
  overscroll-behavior: none;
}

::selection {
  background-color: var(--color-interactive-selection-background);
  color: var(--color-interactive-selection-foreground);
}
